<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/test_style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>

<body>
    <div id="main">
        <div data-scroll data-scroll-speed="-10" id="page1">
            <nav>
                <img src="../Images/Srm logo.png" alt="">
                <div id="right-nav">
                    <button>Options</button>
                    <button>About us</button>
                    <button><i class="ri-menu-fill"></i></button>
                </div>
            </nav>
            <div class="bottom-page1">
                <h1> Smart Attendance<br> Management System</h1>
                <div class="bottom-page1-inner">
                    <h4>Efficiency in Every Tap,<br> Precision in Every Record.</h4>
                </div>
            </div>
            <video src="../static/Vidoes/vid.mp4" autoplay loop muted></video>
        </div>
        <div id="page2">
            <h2>Attendance Management System using RFID</h2>
            <h1>Smart Attendance Management System employs RFID technology for automated tracking, optimizing classroom
                efficiency, and ensuring accurate record-keeping.
            </h1>
        </div>
        <div id="page3">
            <h1>Choose an Option</h1>
            <div class="options-container">
                <a href="scan.html" class="option">Scan ID <br> Cards</a>
                <a href="manual.html" class="option">Manual <br>Attendance</a>
                <a href="details.html" class="option">Details of Students <br>With in Particular <br>Attendance
                    range</a>
                <a href="monthly.html" class="option">Monthly Report</a>
                <a href="check.html" class="option">Check the <br> attendance of a <br> student</a>
                <a href="attendance-report.html" class="option">Attendance Report <br>of a particular <br>student</a>
                <a href="send-alert.html" class="option">Send alert mails</a>
                <a href="trend-chart.html" class="option">Attendance trend <br> Chart</a>
                <a href="excel-format.html" class="option">Get Attendance <br> detials <br> in Excel Fromat</a>
            </div>
        </div>
        <div id="page4">
            <h3>About the RFID Technology</h3>
            <h1>RFID technology plays a pivotal role in this system by providing secure, contactless student
                identification, effectively automating attendance management, reducing manual workload, and ensuring
                real-time, precise record-keeping. This innovation streamlines the entire process, making it more
                efficient, accurate, and user-friendly, ultimately improving the educational experience for both
                educators and students.</h1>
        </div>
        <div id="page5">
            <div class="left5">
                <h1>What is <br> RFID?</h1>
            </div>
            <div class="right5">
                <div class="right5-center"></div>
            </div>
        </div>
        <div id="page6">
            <div class="right6">
                <div class="right6-inner">
                    <h1>RFID Technology: Simplifying Access Control</h1>
                    <p>Radio-Frequency Identification (RFID) is at the heart of our innovative access control system.
                        Magma's RFID technology enables seamless management of physical access to buildings and spaces.
                    </p>
                </div>
                <div class="right6-inner">
                    <h1>How RFID Works</h1>
                    <p>RFID works by using radio waves to communicate between a reader and an RFID tag. The tag contains
                        a unique identification code, which can be linked to individuals, objects, or assets. When an
                        RFID tag comes within range of the reader, it sends its information wirelessly, allowing for
                        quick and convenient access control.</p>
                </div>
                <div class="right6-inner">
                    <h1>Enhancing Security and Efficiency</h1>
                    <p>With RFID technology, you can enhance security by controlling who has access to your building or
                        specific areas within it. It offers an efficient and contactless way to manage access rights,
                        making it a valuable tool for modern security and asset management.</p>
                </div>
            </div>
        </div>
        <div id="page7">
            <h1>Quick links</h1>
        </div>
        <div id="page8">
            <div class="page8-inner">
                <h1>Home</h1>
                <i class="ri-arrow-right-up-line"></i>
                <div class="center8"></div>
            </div>
            <div class="page8-inner">
                <h1>Git Hub</h1>
                <i class="ri-arrow-right-up-line"></i>
                <div class="center8"></div>

            </div>
            <div class="page8-inner">
                <h1>SRM AP</h1>
                <i class="ri-arrow-right-up-line"></i>
                <div class="center8"></div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
        integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
        integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/test_script.js"></script>
</body>

</html>