<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Recording</title>
    <link rel="stylesheet" href="../static/record_attendance.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>

<body>
    <div id="top">
        <nav>
            <img src="../static/Images/Srm logo.png" alt="">
            <div id="right-nav">
                <button>Options</button>
                <button>About us</button>
                <button><i class="ri-menu-fill"></i></button>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="content">
            <h1>Attendance Recording</h1>
            <form action="/start_recording" method="get">
                <button type="submit" class="start-button">Start Recording</button>
            </form>
            <form action="/stop_recording" method="get">
                <button type="submit" class="stop-button">Stop Recording</button>
            </form>

            {% if absentees %}
            <h2>Absentees</h2>
            <ul>
                {% for student in absentees %}
                <li class="absent-student">{{ student }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <a href="/#page3" class="go-back-link">Go to Main Page</a>
</body>

</html>